#navbar {
    background: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.product-link {
    padding-right: 5px;
    color: gray;
    text-transform: uppercase;
    font-family: Gill Sans;
}
#logo {
    color: blue;
    text-transform: initial;
    font-size: x-large;
}

#landing-image {
    display: flex;  
    flex-direction: row; 
    justify-content: center; 
    background-image: url("https://ashleyfurniture.scene7.com/is/image/AshleyFurniture/M69631-M80X32-MOOD-A?$AFHS-PDP-Zoomed$");
    height: 700px;  
    background-color: white; 
    align-items: flex-start;
    text-align: center; 
}

img#landing-image { /*not sure how to do this right - not in html*/
    opacity: 20%;
}

#promo-links {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 10px; 
    color:white; 
    font-family: Gill Sans;
    align-items: center; 
    padding: 50px 0px 0px 0px; 
}

h1 {
 text-transform: uppercase; 
}

button {
    border-radius: 5px; 
    background-color: white; 
    color: navy; 
    text-transform: uppercase; 
    padding: 15px 50px 15px 50px; 
    font-weight: bold; 
    width: 20rem; 
}
#featured-products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(240, 240, 240);
}
#highlights {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    
}
.mattress {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mattress > img {
    width: 70%;
}
.mattress > p {
    width: 60%;
}
#secondary-products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.item {
    background: white;
    /* border: lightgray 1px solid; */
    box-shadow: 0 0 5px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 25px;
    padding: 0 50px 50px 50px;
    height: 400px;
}
.item > img {
    width: 250px;
}